/* General Widget Styling */
QWidget {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

/* Panel A Styling */
#panelA {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    padding: 5px;
}

/* Panel B Styling */
#panelB {
    background-color: #fafafa;
    border: 1px solid #cccccc;
    padding: 5px;
}

/* Panel C Styling */
#panelC {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    padding: 5px;
}

/* Group Box Styling */
QGroupBox {
    font-weight: bold;
    border: 1px solid #aaaaaa;
    margin-top: 10px;
    background-color: #ffffff;
}

QGroupBox::title {
    subcontrol-origin: margin;
    subcontrol-position: top left;
    padding: 0 3px;
}

/* Button Styling */
#select_points_button, #process_button, #close_packing_button, #convert_to_cad_button {
    background-color: #4CAF50;
    color: white;
    border-radius: 4px;
    padding: 8px 16px;
    border: none;
}
#select_points_button:hover, #process_button:hover, #close_packing_button:hover, #convert_to_cad_button:hover {
    background-color: #45a049;
}
#select_points_button:pressed, #process_button:pressed, #close_packing_button:pressed, #convert_to_cad_button:pressed {
    background-color: #337335;
}


/* Line Edit Styling */
QLineEdit {
    border: 1px solid #cccccc;
    padding: 4px;
    border-radius: 3px;
    background-color: #ffffff;
    font-size: 12px;
}

/* Text Edit (Output Log) Styling */
QTextEdit {
    background-color: #ffffff;
    border: 1px solid #cccccc;
}

/* Scroll Bars */
QScrollBar:vertical, QScrollBar:horizontal {
    background: #f0f0f0;
    width: 12px;
}

QScrollBar::handle {
    background: #cccccc;
    border-radius: 6px;
}

QScrollBar::handle:hover {
    background: #b0b0b0;
}


/* element-specific styling*/
#image_display {
    border: 1px solid #cccccc;
    background-color: #ffffff;
}

/* Matplotlib Canvas Styling */
#matplotlib_canvas {
    border: 1px solid #cccccc;
    background-color: #ffffff;
}

/* Styling for the checkbox */
#is_gravity_button, #is_update_sampleholder_button, #is_contour_buffer_button, #is_save_results_button {
    background-color: #FFAAAA;
    color: white;
    border-radius: 4px;
    padding: 8px 16px;
    border: none;
}
#is_gravity_button:checked, #is_update_sampleholder_button:checked, #is_contour_buffer_button:checked, #is_save_results_button:checked {
    background-color: #821131;
    color: white;
}
#is_gravity_button:unchecked, #is_update_sampleholder_button:unchecked, #is_contour_buffer_button:unchecked, #is_save_results_button:unchecked {
    background-color: #FFAAAA;
    color: white;
}
#is_gravity_button:checked:pressed, #is_update_sampleholder_button:checked:pressed {
    background-color: #821131;
    color: white;
}
#is_gravity_button:unchecked:pressed, #is_update_sampleholder_button:unchecked:pressed {
    background-color: #FFAAAA;
    color: white;
}
